<ion-content>
  <!-- <div *ngIf='status'>
    <button (click)='closeOrder("cancelled")' *ngIf='status === "received"'>Cancel</button>
    <button (click)='processOrder("processed")' *ngIf='status === "received"'>Process</button>
    <button (click)='processOrder("ready")' *ngIf='status === "processed"'>Ready</button>
    <button (click)='closeOrder("collected")' *ngIf='status === "ready"'>Collected</button>
    <button (click)='closeOrder("delivered")' *ngIf='status === "ready"'>Delivered</button>
  </div> -->

  <div class="overlayer">
    <div class="infographics">
      <div class="dismisser" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </div>
      <div class="details" id="left">
        <div class="header">
          Items Ordered
          <div class="total">Total:{{ getTotal() | currency:"R"}}</div>
        </div>
        <div class="list">
          <ion-card class="product" *ngFor="let order of myOrder; let i = index" (click)="viewProduct(i)">
            <div>
              <img src="{{order.picture}}" alt="">
            </div>
            <div>
              <p id="prod-name">{{order.name}}</p>
              <p>
                <b>Code:</b> {{order.productCode}}
              </p>
              <p>
                <b>Size:</b> {{order.size}}
              <p>
                <b>Price:</b>{{order.cost | currency:"R"}}
              </p>
              <p>
                <b>Qty:</b> {{order.quantity}}
              </p>
            </div>
          </ion-card>

        </div>

      
        <div class="tracker">
          <p>Order Progress Status Collected </p>
          <div class="prog-bar">
            <div id="one">1</div>
            <div></div>
            <div id="two">2</div>
            <div></div>
            <div id="three">3</div>
            <div></div>
            <div id="four">4</div>
          </div>

          <div class="text">
            <div>Order <br> Received</div>
            <div> Payment <br> Recieved</div>
            <div> Order <br> Ready</div>
            <div> Order <br> Delivered/Collected</div>
          </div>
          
        </div>
      </div>
      <div class="details" id="right">
        <img id="selected-image" src="{{order.picture}}" alt="">

        <div class="about-prod">
          <p id="item-price">{{order.cost | currency:"R"}}</p>
          <p id="item-name"><b>{{order.name}}</b></p>
          <p id="item-name"><b>Product Code:</b> {{order.productCode}}</p>
          <p>{{order.description}}</p>
          <ion-button (click)="download(reciept)">
            Download PDF
          </ion-button>
        </div>
      </div>
        
    </div>
  </div>

</ion-content>

