<ion-header>
  <ion-toolbar>
    <ion-title>aboutUs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content" >
    <div class="main-cover" >
      <div class="whoWeAre" *ngFor="let a of about">
        <!-- <ion-title>Contact Us</ion-title> -->
        <div class="image-section" >
          <img src="{{a.image}}" alt="">


        </div>
        <div class="description-section" >
          <div><ion-title>{{a.name}}</ion-title></div>
          <div> <ion-label>{{a.subject}}</ion-label></div>
          <div>
            <p>{{a.message}}
              </p>
              
          </div>
        </div>

      </div>

      <div  class="services" *ngFor="let s of service">
        <!-- <ion-title>Contact Us</ion-title> -->
        <div class="services-description-section" >
          <div>   <ion-title>{{s.service}}</ion-title></div>
          <div> <ion-label>{{s.job}}</ion-label></div>
          <div>
            <p>{{s.history}}
              </p>
              
          </div>
       
         


        </div>
        <div class="services-image-section" >
          <img src="{{s.image}}" alt="">

        </div>
      </div>
      

    </div>

  </div>
  <div>
    <ion-label class="heading">Leave Us a Message</ion-label>
    <div class="messageInputs">
     

            <ion-item color="light">
              <ion-input type="text"   [(ngModel)]="message.fullname"  placeholder="Full Names" required></ion-input> 
            </ion-item>
            <ion-item>
              <ion-input type="email"   [(ngModel)]="message.email"  placeholder="Email Address" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text"   [(ngModel)]="message.subject"  placeholder="Enter subject" required>
              </ion-input>
            </ion-item>
            <div>
              <ion-list>
                <ion-item>
                  <ion-textarea name=""  [(ngModel)]="message.message" id="" placeholder="Message" required></ion-textarea>
                </ion-item>
              </ion-list>
            </div>
            <div>
              <ion-button  (click)="addMessage()">Submit</ion-button>
            </div>
         
        </div>
        <div>
        
    </div>
  </div>

</ion-content>
