<ion-content>

  <div class="app-overlay">
    <div class="user-inputs" *ngIf="!isprofile">
      <div class="inputs">

        <div class="top-section">
          <div>
            <h4>Edit Profile</h4>
          </div>
          <div>

            <div>Profile Image</div>
            <div><label for="diplayPic">
                <ion-icon name="camera"></ion-icon></label>
            </div>
            <input type="file" id="diplayPic" style="display: none"  accept="image/*" multiple="false" (change)="changeListener($event)">
          </div>
        </div>
        <div class="section spacer">
          <div>
            <input type="text" placeholder="Full Name" [(ngModel)]=" profile.name">
            <!-- <label>{{name}</label> -->
          </div>
          <div>
            <ion-icon name="person"></ion-icon>
          </div>
        </div>
        <div class="section spacer">
          <div>
            <input type="email" placeholder="Email" [(ngModel)]="profile.email">
          </div>
          <div>
            <ion-icon name="mail"></ion-icon>
          </div>
        </div>
        <div class="section spacer">
          <div>
            <input type="number" placeholder="Phone (eg 0812345678)" [(ngModel)]="profile.number">
          </div>
          <div>
            <ion-icon name="call"></ion-icon>
          </div>
        </div>
        <div class="section spacer">
          <div>
            <input type="text" placeholder="Residential Address" [(ngModel)]="profile.address">
          </div>
          <div>
            <ion-icon name="location"></ion-icon>
          </div>
        </div>
      </div>
      <ion-button shape="undefined" id="myButton" (click)=createAccount()>DONE</ion-button>
    </div>
  </div>
  <div class="app-container">
    <div class="image">
      <img src="../../assets/photo-1559740983-b9c5ffbac1ff.jpg" alt="">
    </div>
  </div>
</ion-content>