<ion-toolbar>
  <h2>My wishlist</h2>
  
</ion-toolbar>
<ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-icon color="dark" (click)="closeWish()" name="close"></ion-icon>
  </ion-fab>
<ion-content fullscreen>
<div class="main-content">
  <div class="container">
    <ion-list>
      <div class="order-list" *ngFor="let w of myWish; let i = index">
        <div class="checkBox-add-to-cart" >
    
          <ion-checkbox color="primary"  slot="start" [checked]="w.id.checked" (ionChange)="viewProduct(w); w.id.checked = !w.id.checked;"></ion-checkbox>
        </div>
        <div class="image-container">
          <img src="{{w.info.image}}" alt="">
        </div>
        <div class="item-description">
          <div class="last-div">
            <div class="name">
              <ion-label>{{w.info.name}}</ion-label>
            </div>
          
            <div (click)="delete(w.id)">
                <ion-icon name="trash" color="primary"></ion-icon>
            </div>
          </div>
          <div class="code">
            <ion-label>{{w.info.productCode}}</ion-label>
          </div>
          <div class="price">
            <ion-label>{{w.info.price | currency:'R'}}</ion-label>
          </div>
        </div>
      </div>  
     
    </ion-list>

    
  </div>
  <div class="buttons" >
    <!-- <ion-button color="primary" (click)="viewProduct(myWish)"> Add to bag</ion-button> -->
    <ion-button color="primary" class="button2" (click)="goHome()" color="transparent"> continue Shopping</ion-button>
  </div>
</div>
</ion-content>