<ion-toolbar>
  <h2>My wishlist</h2>
  
</ion-toolbar>
<ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-icon color="dark"  name="close"></ion-icon>
  </ion-fab>
<ion-content fullscreen>
<div class="main-content">
  <div class="container">
    <ion-list>
      <div class="order-list">
        <div class="checkBox-add-to-cart" >
    
          <ion-checkbox color="primary"  slot="start" [checked]="checked"  (ionChange)= "check"></ion-checkbox>
        </div>
        <div class="image-container">
          <img src="https://i.pinimg.com/564x/fe/0d/b5/fe0db54acfbd94d56dff811c71c3fd70.jpg" alt="">
        </div>
        <div class="item-description">
          <div class="last-div">
            <div class="name">
              <ion-label>Pokémon Yellow</ion-label>
            </div>
            <div>
                <ion-icon name="trash" color="primary"></ion-icon>
            </div>
          </div>
          <div class="price">
            <ion-label>R 4567.00</ion-label>
          </div>
          <div class="last-div">
            <div class="size">
              <ion-label>Size: S</ion-label>
            </div>
         
          </div>
          <div class="quantity">
            <div>
                <ion-icon name="add-circle-outline" color="secondaryColor" (click)="increment(j)"></ion-icon> <ion-label>  {{currentNumber}} </ion-label>
              <ion-icon name="remove-circle-outline"  color="secondaryColor" (click)="decrement(j)"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="order-list">
        <div class="checkBox-add-to-cart" >
    
          <ion-checkbox color="primary"  slot="start" [checked]="checked"  (ionChange)= "check"></ion-checkbox>
        </div>
        <div class="image-container">
          <img src="https://i.pinimg.com/564x/c3/da/f7/c3daf7acc13ec2dd2d82d9a968d56fa7.jpg" alt="">
        </div>
        <div class="item-description">
          <div class="last-div">
            <div class="name">
              <ion-label>Pokémon Yellow</ion-label>
            </div>
            <div>
                <ion-icon name="trash" color="primary"></ion-icon>
            </div>
          </div>
          <div class="price">
            <ion-label>R 4567.00</ion-label>
          </div>
          <div class="last-div">
            <div class="size">
              <ion-label>Size: M</ion-label>
            </div>
            
          </div>
          <div class="quantity">
            <div>
                <div>
                   <ion-icon name="add-circle-outline" color="secondaryColor" (click)="increment(j)"></ion-icon>
                </div>
                <div>
                   <ion-label>  {{currentNumber}} </ion-label>
                </div>
                <div>
                  <ion-icon name="remove-circle-outline" color="secondaryColor" (click)="decrement(j)"></ion-icon>
                </div>
            </div>
          </div>
        </div>
     </div>
      <div class="order-list">
        <div class="checkBox-add-to-cart" >
    
          <ion-checkbox color="primary"  slot="start" [checked]="checked"  (ionChange)= "check"></ion-checkbox>
        </div>
        <div class="image-container">
          <img src="https://i.pinimg.com/564x/d8/01/f9/d801f95ec37ebdd439ca3a9298197ef4.jpg" alt="">
        </div>
        <div class="item-description">
          <div class="last-div">
            <div class="name">
              <ion-label>Pokémon Yellow</ion-label>
            </div>
            <div>
                <ion-icon name="trash" color="primary"></ion-icon>
            </div>
          </div>
          <div class="price">
            <ion-label>R 4567.00</ion-label>
          </div>
          <div class="last-div">
            <div class="size">
              <ion-label>Size: L</ion-label>
            </div>
         
          </div>
          <div class="quantity">
            <div>
                <ion-icon name="add-circle-outline" color="secondaryColor" (click)=" increment(p)"></ion-icon> <ion-label> {{currentNumber}}</ion-label>
                 <ion-icon name="remove-circle-outline" color="secondaryColor" (click)=" decrement(p) "></ion-icon>
            </div>
          </div>
        </div>
      </div> 
      <div class="total" >
        <div >
          <ion-label class="total-title" >Total Amount:</ion-label>
        </div>
        <div>
          <ion-title>R 2394.00</ion-title>
        </div>
      </div>
      <div class="buttons" >
        <ion-button color="primary" > add to bag</ion-button>
        <ion-button fill="clear" class="button2" > continue Shopping</ion-button>
      </div>
    </ion-list>
  </div>
</div>
</ion-content>