
<body>
  <div class="logo">
    <img src="../../assets/imgs/pitseng Logo.png" alt="">
  </div>
  <div class="container">
      <div class="user-form">
        <ion-button fill="clear" id="backBTN" color="secondaryColor">
          <!-- <ion-icon name="arrow-back"></ion-icon> Go Back -->
          </ion-button>
        <h3>Sign in</h3>
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <p>I forgot my password</p>
        <div class="gridder">
          <div>Sign in with Google</div>
          <div>Sign in</div>
        </div>
        <p style="text-align: center; color: grey;">or</p>
        <ion-button fill="clear" expand="block" id="creator" color="secondaryColor">
          <b>Create an account</b>
          </ion-button>
      </div>
    <div class="circle">
    </div>
  </div>
</body>
