div.container {
  width: 100%;
  height: 100vh;
  background: #912322;
  overflow-y: hidden !important;
  position: relative;
  .circle {
    width: 9000px;
    height: 5000px;
    background: white;
    border-radius: 100%;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(-50px, -50%);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.308);
    z-index: 0;
  }
}
.user-form {
  width: calc(100vw - 30px);
  position: absolute;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 150px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.308);
  z-index: 10;
  padding: 15px;
}
h3 {
  margin: 0;
}
p {
  color: #912322;
  font-size: 12px;
  margin: 10px;
}

.logo {
  min-width: 50px;
  max-width: 120px;
  width: 15%;
  position: absolute;
  z-index: 1000000;
  left: 50%;
  top: 7%;
  transform: translateX(-50%);
}

input {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.452);
  border-radius: 5px;
  margin-top: 15px;
  width: 100%;
  height: 35px;
}

#backBTN {
  top: -50px;
  position: absolute;
  left: -15px;
  font-size: 12px;
  text-transform: capitalize;
}
.gridder {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  background: white;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
}

.gridder > div {
  width: 100%;
  height: 100%;
  font-weight: bold;
  // margin-top: 10px;
}
.gridder > div:nth-child(1) {
  border: 2px solid #912322;
  color: #912322;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  line-height: 26px;
}
.gridder > div:nth-child(2) {
  background: #912322;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 319px){
    .gridder{
        flex-direction: column;
    }
}
#creator {
  font-size: 12px;
}
.error-message{
  font-size: 12px;
}