<ion-toolbar>
  <h2>My Bag</h2>

</ion-toolbar>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-icon color="dark" (click)="closeWish()" name="close"></ion-icon>
</ion-fab>
<ion-content fullscreen>
  <div class="main-content">
    <div class="container">
      <ion-list *ngFor="let cp of prodCart; let i of index">
        <div class="order-list" *ngFor="let prod of cp.data.product">
          <div class="image-container">
            <img src="{{prod.picture}}" alt="">
          </div>
          <div class="item-description">
            <div class="last-div">
              <div class="name">
                <ion-label>{{prod.product_name}}</ion-label>
              </div>
              <div (click)="removeProd(cp.id)">
                <ion-icon name="trash" color="primary"></ion-icon>
              </div>
            </div>
            <div class="price">
              <ion-label>{{prod.cost | currency:"R"}}</ion-label>
            </div>
            <div class="last-div">
              <div class="size">
                <ion-label>Size: {{prod.size}}</ion-label>
              </div>

            </div>
            <div class="quantity">
              <div>
                <ion-icon name="add-circle-outline" color="secondaryColor" (click)="plus(prod, i)"></ion-icon>
                <ion-label> {{prod.quantity}} </ion-label>
                <ion-icon name="remove-circle-outline" color="secondaryColor" (click)="minus(prod, i)"></ion-icon>
              </div>
            </div>
          </div>
        </div>

      </ion-list>

    </div>
    <div class="total">

      <p class="total-title">Total Amount:</p>
      <p style="color: black"><i>{{getTotal() | currency:'R'}}</i></p>
    </div>

    <div class="buttons">
      <ion-button color="primary" (click)="confirmOrder()"> Place Order</ion-button>
      <ion-button fill="clear" class="button2"> continue Shopping</ion-button>
    </div>
  </div>
</ion-content>