<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar translucent="true">
    <ion-buttons slot="start">
      <ion-button (click)="popBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <p>{{prod_name}}</p>
    </ion-buttons>

    <ion-buttons slot="end">

      <ion-button class="notification" (click)="visitWish()">
        <ion-icon slot="icon-only" name="heart" ></ion-icon>
        <span class="badge"></span>
      </ion-button>

      <ion-button class="notification" (click)="visitCart()">
        <ion-icon slot="icon-only" name="basket"></ion-icon>
        <span class="badge"></span>
      </ion-button>
      <ion-button color="secondary" (click)="visitProfile()">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class='container'>
    <div class="image" >
      <!-- <img src="{{prod_image}}" alt=""> -->
      <ion-slides style="height: 45vh; z-index: 1;">

        <ion-slide>
          <img src="{{prod_image}}"/>
        </ion-slide>

        <ion-slide>
          <img src="{{imageTop}}"/>
        </ion-slide>

        <ion-slide>
          <img src="{{imageSide}}"/>
        </ion-slide>

        <ion-slide>
          <img src="{{imageTop}}"/>
        </ion-slide>
      </ion-slides>
      <p class="starz"></p>

       
      <div class="stars" *ngFor="let item of reviews">  
        <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#FFD700"
          defaultColor="#D3D3D3" readonly="true" rating="{{item.Rating}}" fontSize="18px"
          (ratingChanged)="logRatingChange(item.Rating)">
        </ionic4-star-rating>          
    </div>

      <!-- <ion-icon name="star"></ion-icon>&nbsp;
        <ion-icon name="star"></ion-icon>&nbsp;
        <ion-icon name="star"></ion-icon>&nbsp;
        <ion-icon name="star"></ion-icon>&nbsp;
        <ion-icon name="star-half-outline"></ion-icon>   -->
    
     
  
      

      <div class="wishlist">
        <ion-fab-button color="transparent" (click)="wishListAdd()">
          <ion-icon name="{{onWish}}"></ion-icon>
          <!-- <ion-icon name="heart"></ion-icon> -->
        </ion-fab-button>
      </div>
    </div>
    <div class="item_info">
     

      <div class="sizes">
        <div class="text">
          <p>sizes</p>
        </div>

        <div class="btnz">
          <ion-button color="transparent" *ngFor="let s of sizes; let i = index" (click)="sizeChosen(s, i)" [ngClass]="{'sizeStyle':sizeIndex==i}">
            {{s}}
          </ion-button>

          <!-- <ion-button color="transparent">
            M
          </ion-button>

          <ion-button color="transparent">
            L
          </ion-button> -->
        </div>

      </div>

      <div class="price">
        <p>{{price | currency:"R"}}</p>
        <p>
          <ion-icon slot="start" (click)="plus()" name="add"></ion-icon> {{quantity}} <ion-icon slot="start" (click)="minus()" name="remove"></ion-icon>
        </p>
      </div>

      <p>{{desc}}</p>

      <p><span>Shipping Information</span><br>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem eum sit maxime temporibus
        in nobis voluptatibus nihil alias quaerat. Velit tenetur doloribus assumenda autem error
        porro, rerum voluptas quisquam minus!</p>

      <p><span>Delivery Infomation</span> <br>
        items avilable at the following address: <br>
        <br>
        123 Chris Hani Rd<br>
        Diepkloof <br>
        1862
      </p>
    </div>

    <div class="also_like">

      <ion-segment [(ngModel)]="yudsegment" color="transparent">
        <ion-segment-button value="like">
          <ion-label>You may also like</ion-label>
        </ion-segment-button>
        <ion-segment-button value="review">
          <ion-label>Reviews</ion-label>
        </ion-segment-button>
      </ion-segment>

    </div>
    
    <div class="segment_slides" [ngSwitch] ="yudsegment">
    <div class="pictures" *ngSwitchCase = "'like'">
      <div class="image1" *ngFor="let items of similarItems">
        <img src="{{items.info.image}}" alt="" >
      </div>

    </div>

    <div class="reviewz" *ngSwitchCase = "'review'">
      <p class="starz1">
        Rate this product <br>

        <ion-icon name="star-outline"  (click)="star(1, uid, productCode)"></ion-icon>&nbsp;
        <ion-icon name="star-outline" (click)="star(2, uid, productCode)"></ion-icon>&nbsp;
        <ion-icon name="star-outline" (click)="star(3, uid, productCode)"></ion-icon>&nbsp;
        <ion-icon name="star-outline" (click)="star(4, uid, productCode)"></ion-icon>&nbsp;
        <ion-icon name="star-outline" (click)="star(5, uid, productCode)"></ion-icon> <br>

    

      <ion-button color="transparent">
        RATE
      </ion-button>
      </p>

    </div>
  </div>


    <div class="add" >
      <ion-button color="transparent" (click)="addToCart()">
        ADD TO BAG {{getTotal() | currency:"R"}}
      </ion-button>
    </div>
  </div>


</ion-content>