ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;

  ion-icon {
    color: white;
  }

  p {
    color: rgb(0, 0, 0);
  }
 
  .notification .badge {
    position: absolute;
    top: 1px;
    right: 0.5px;
    padding: 5px 5px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
}
.sizeStyle {
  background: rgba(175, 175, 175, 0.712);
  border: 2px solid rgb(146, 146, 146);
  color: white;
  ion-button {
    color: white;
  }
}
.container {
  display: flex;
  flex-flow: column;
  width: 100vw;


  .image {
    position: relative;
    width: 100%;
    height: 40vh;
    top: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .starz {
      position: absolute;
      top: 80%;
      left: 40%;
      ion-icon{
        font-size: 20px;
       color: rgb(206, 169, 7) !important;
       z-index: 9999999;
      }
    }
    .star {
      text-align: center;
      font-size: 1.5rem;
    }

    .wishlist {
      position: absolute;
      bottom: -25px;
      right: 10px;
      z-index: 10;
      ion-fab-button {
        border: 1px solid rgb(170, 170, 170);
        border-radius: 50%;
        background: white;
        ion-icon {
          color: rgb(110, 33, 5);
        }
      }
    }
  }

  .item_info {
    margin: 10px;
    display: flex;
    flex-flow: column;
    // height: 70vh;
    .sizes {
      display: flex;
      flex-flow: row;
      z-index: 999999999999999;
      margin-top: 30px;

      .btnz {
        display: flex;
        flex-flow: row;
        ion-button {
          color: black;
        }
      }
    }

    .price{
        display: flex;
        flex-flow: row;
        width: 100%;
        justify-content: space-between;
    }

    p{
        font-size: 12px;
        color: grey;
        span{
            font-weight: bold;
        }
    }
  }

  .segment_slides{
    padding-bottom: 50px;
  }

  .pictures{
      display: flex;
      flex-flow: row;
      width: 100%;
      padding: 5px;
      padding-bottom: 10px;
      overflow-x: auto;

      .image1{
        min-width: 30%;
        height: 15vh;
        margin: 5px;
        border-radius: 10px;
        img{
          height: 100%;
          width: 100%;
          margin: 5px;
          border-radius: 10px;
          object-fit: cover;
        }
      }
  }

  .reviewz{
    width: 95%;
    margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;

    .starz1{
      ion-icon{
        font-size: 35px;
        color: rgb(206, 169, 7) !important;
      }
    }

    ion-button{
      border: 2px solid rgb(131, 35, 0);
      font-size: 12px;
      border-radius: 6px;
      width: 90%;
      color: rgb(131, 35, 0);
    }
  }

  .add{
    position: fixed;
    bottom: 10px;
    left: 5%;
    width: 90%;
    // margin: auto;
    border-radius: 10px;
    ion-button{
      width: 100%;
      object-fit: cover;
      background: rgb(131, 35, 0);
      border: 1px solid grey;
      border-radius: 5px;
      font-size: 12px;
    }
  }

  .also_like{
    padding: 5px;
    ion-segment{
      border-bottom: 2px solid orangered;
      border-radius: 0 !important;

  
    }
  }
}
@media screen and (max-width: 768px) {
  ion-toolbar{
    position: absolute !important;
  }
  #webview {
    display: none;
  }

  #web{
    display: none;
  }

  #cart{
    display: none;
  }

  #wish{
    display: none;
  }
}


@media screen and (min-width: 769px) {
  #mobile {
    display: none;
  }
  #web {
    ion-toolbar {
      width: 70%;
      margin: auto;
        ion-icon {
          color: black;
        }
    }

    .ribbon {
      background: rgb(197, 54, 1);
      text-align: center;
      color: white;
      width: 100vw !important;
      ion-buttons {
        width: 60%;
        margin: auto;
        text-align: center;
        ion-button {
          margin-right: 30px;
          ion-icon{
            color: white;
          }
        }

        ion-button:hover{
          border-bottom: 2px solid white;
          ion-icon{
            color: white;
          }
        }

        #deco{
          border-bottom: 2px solid white;
        }
      }
    }
  }
  .container{
    width: 60%;
    margin: auto;
    position: relative;
    top: 5%;
  }

  .image{
    height: 50vh !important;
    ion-slide{
        width: 100%;
        height: 100%;
        object-fit: cover;
   img{
     width: 100%;
     height: 100%;
     object-fit: cover;  
   }
    }
  .starz{
      ion-icon{
        font-size: 35px;
      }
    }
  }

  .add{
    position: fixed;
    width: 60% !important;
    margin: auto !important;
    left: 20% !important;
  }

  .reviewz{
    width: 50% !important;
    margin: 30px auto !important;
    padding: 20px;
  }

  .segment_slides{
   .image1{
     height: 30vh !important;
     min-width: 30%;
   }
  }

  .delivery_options {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin: 5px;
    ion-button {
      font-size: 13px;
      color: grey;
      width: 20vw;
      height: 2vw;
    }
    .line {
      width: 20vw;
      height: 1.5px;
      background: grey;
    }
  }

  .delivery {
    width: 50%;
    height: 100%;
    align-items: center;
    overflow: hidden;
    background: rgb(184, 184, 184);
    ion-button {
      border-bottom: 2px solid black;
    }
  }
  .delivery-inactive {
    width: 50%;
    height: 100%;
    align-items: center;
    overflow: hidden;
    opacity: 0.5;
    background: rgb(250, 250, 250);
    ion-button {
      width: 100%;
      height: 100%;
      border-radius: 30px;
      //font-family: "Poiret One";
      font-weight: bold;
      letter-spacing: 3px;
      background: #bf967e;
      color: white;
      border: none;
    }
  }
  .collection {
    width: 50%;
    height: 100%;
    overflow: hidden;
    background: rgb(184, 184, 184);
    ion-button {
      width: 100%;
      height: 100%;
      border-radius: 30px;
      //font-family: "Poiret One";
      font-weight: bold;
      letter-spacing: 3px;
      background: #bf967e;
      color: white;
      border: none;
    }
  }
  .collection-inactive {
    background: rgb(250, 250, 250);
    width: 50%;
    height: 100%;
    overflow: hidden;
    opacity: 0.5;
    ion-button {
      width: 100%;
      height: 100%;
      border-radius: 30px;
      //font-family: "Poiret One";
      font-weight: bold;
      letter-spacing: 3px;
      background: #bf967e;
      color: white;
      border: none;
    }
  }

  .backdrop1 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .viewcart {
    position: fixed;
    z-index: 150;
    background: white;
    width: 400px;
    height: 100vh;
    top: 2px;
    right: 0;
    align-items: center;
    display: flex;
    flex-flow: column;
    overflow: hidden;

    .heading {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      width: 100%;
      margin: 5px;

      ion-icon {
        color: white;
        position: relative;
        right: 20px;
        top: 2.2vh;
        font-size: 1em;
        background: rgb(0, 0, 0);
        border-radius: 50%;
      }

      p {
        letter-spacing: 1px;
        margin: 5px;
        position: relative;
        left: 2vw;
        font-size: 1em;
      }
    }

    .wishlist_items {
      display: flex;
      flex-flow: column;
      overflow-y: auto;
      margin: 10px;
      min-width: 90%;
      height: 90%;
      position: relative;
      #noItems {
        display: flex;
        flex-flow: column;
        background: none;
        align-items: center;
        box-shadow: none;
        justify-content: center;
        margin-top: 200px;
        img {
          width: 6vw;
          height: 6vw;
        }
        p {
          text-align: center;
          font-size: 15px;
          color: grey;
        }
      }
      .div {
        height: 65vh;
        overflow-y: auto;
        scrollbar-width: 2px;
        width: 100%;
      }
      .items {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        margin: 10px;
        min-height: 7vh;
        width: 95%;
        margin: 5px;
        border-bottom: 1px solid black;

        ion-checkbox {
          button {
            border-radius: 50%;
          }
        }
        .left {
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          margin: 5px;
          width: 90%;
          .img {
            width: 120px;
            height: 80%;
            margin: 3px;
            //border-radius: 5px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              //border-radius: 5px;
            }
          }

          .item_details {
            width: 70%;
            margin: 5px;
            p {
              font-size: 14px;
              span {
                font-size: 12px;
              }
            }

            .add_buttons {
              margin: 5px;
              display: flex;
              flex-direction: row;
              p {
                font-size: 12px;
              }
              .clicks {
                margin: 5px;
                margin-bottom: 5px;
            
                p {
                  font-size: 12px;
                }
              }
              ion-button {
                font-size: 14px;
                height: 20px;
                //width: 3vw;
                color: black;
                margin: 0 !important;
                margin-bottom: 3px;
                padding: 0 !important;
                border: 0.5px solid rgb(190, 190, 190);
                border-radius: 0 !important;
                box-shadow: none;
                span {
                  // width: 100%;
                  // text-align: center !important;
                }
              }

              .adds {
                border-top-left-radius: 5px !important ;
                border-bottom-left-radius: 5px !important;
                text-align: center;
              }

              .adds1 {
                border-top-right-radius: 5px !important ;
                border-bottom-right-radius: 5px !important;
                text-align: center;
              }
            }
          }
        }

        .right {
          width: 20%;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          text-align: right;
          margin: 5px;
          // margin-right: 10px;
          ion-button {
            font-size: 12px;
            width: 4vw;
            height: 20px;
            margin: 10px;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            ion-icon {
              font-size: 12px;
            }
          }

          .trash_icon {
            ion-icon {
              color: rgb(0, 0, 0);
            }
          }
        }
      }

      .add_to_basket {
        color: white;
        position: absolute;
        bottom: 0;
        width: 90%;
        margin: 15px;
        p {
          color: rgb(0, 0, 43);
        }
        ion-button {
          background: rgb(146, 55, 2);
          width: 100%;
          object-fit: cover;
          text-align: center;
        }
        .delivery_options {
          display: flex;
          flex-flow: row;
          justify-content: space-evenly;
          margin: 5px;

          ion-button {
            font-size: 13px;
            color: grey;
            width: 20vw;
            height: 2vw;
            border: 1px solid rgb(156, 156, 156);
            margin: 0;
            padding: 0;
            border-radius: 0 !important;
          }

          .line {
            width: 20vw;
            height: 1.5px;
            background: grey;
          }
        }

        #del {
          border-right: none !important;
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
        }
        #col {
          border-left: none !important;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
        }
        .delivery {
          width: 50%;
          height: 100%;
          align-items: center;
          overflow: hidden;
          background: rgb(184, 184, 184);
        }
        .delivery-inactive {
          width: 50%;
          height: 100%;
          align-items: center;
          overflow: hidden;
          opacity: 0.5;
          background: rgb(250, 250, 250);
          ion-button {
            width: 100%;
            height: 100%;
            border-radius: 30px;
            font-weight: bold;
            letter-spacing: 3px;
            color: white !important;
          }
        }
        .collection {
          width: 50%;
          height: 100%;
          overflow: hidden;
          background: rgb(184, 184, 184);
          ion-button {
            width: 100%;
            height: 100%;
            border-radius: 30px;
            //font-family: "Poiret One";
            font-weight: bold;
            letter-spacing: 3px;
            background: #bf967e;
            color: white;
            border: none;
          }
        }
        .collection-inactive {
          background: rgb(250, 250, 250);
          width: 50%;
          height: 100%;
          overflow: hidden;
          opacity: 0.5;
          ion-button {
            width: 100%;
            height: 100%;
            border-radius: 30px;
            //font-family: "Poiret One";
            font-weight: bold;
            letter-spacing: 3px;
            background: #bf967e;
            color: white;
          }
        }
      }
    }
  }

  .closecart {
    position: absolute;
    z-index: 150;
    background: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 0vw;
    height: 85vh;
    top: 10%;
    bottom: 40%;
    right: 0;
    align-items: center;
    display: flex;
    flex-flow: column;
    overflow: hidden;
  }

  .viewwishlist {
    position: fixed;
    z-index: 150;
   background: white;
    width: 400px;
    height: 100vh;
    top: 2px;
    right: 0;
    align-items: center;
    display: flex;
    flex-flow: column;
    overflow: hidden;

    .heading {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      width: 100%;
      margin: 5px;

      .wish_heart {
        background: none !important;
        color: black;
      }
      ion-icon {
        color: white;
        position: relative;
        right: 20px;
        top: 2.2vh;
        font-size: 1em;
        background: rgb(0, 0, 0);
        border-radius: 50%;
      }

      p {
        letter-spacing: 1px;
        margin: 5px;
        position: relative;
        left: 2vw;
        display: flex;
        flex-flow: row;
        justify-content: baseline;
        font-size: 1em;
      }
    }

    .wishlist_items {
      display: flex;
      flex-flow: column;
      overflow-y: auto;
      margin: 10px;
      width: 90%;
      height: 90%;
      position: relative;
      #noItems {
        display: flex;
        flex-flow: column;
        background: none;
        align-items: center;
        box-shadow: none;
        justify-content: center;
        margin-top: 200px;
        img {
          width: 6vw;
          height: 6vw;
        }
        p {
          text-align: center;
          font-size: 15px;
          color: grey;
        }
      }
      // .div {
      //   height: 65vh;
      //   overflow-y: auto;
      //   padding: 5px;
      //   scrollbar-width: 2px;
      //   display: flex;
      //   flex-flow: column;
      // }
      .items {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        margin: 10px;
        width: 90%;
        min-height: 7vh;
        border-bottom: 1px solid black;
        .left {
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          margin: 5px;
          .img {
            width: 5.5vw;
            height: 5.5vw;
            margin: 3px;
            border-radius: 5px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              border-radius: 5px;
            }
          }

          .item_details {
            // width: 12vw;
            p {
              font-size: 13px;
            }
          }
        }

        .right {
          width: 3vw;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          text-align: right;
          margin: 5px;
          // margin-right: 10px;
          ion-button {
            font-size: 12px;
            width: 4vw;
            height: 20px;
            margin: 10px;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            ion-icon {
              font-size: 12px;
            }
          }

          .trash_icon {
            ion-icon {
              color: rgb(0, 0, 0);
            }
          }
        }
      }
    }

    .add_to_basket {
      position: absolute;
      bottom: 10px;
      width: 90%;
      ion-button {
        background: rgb(146, 40, 1);
        width: 100% !important;
      }
    }
  }

  .closewishlist {
    position: absolute;
    z-index: 150;
    background: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 0vw;
    height: 85vh;
    top: 10%;
    bottom: 40%;
    right: 0;
    align-items: center;
    display: flex;
    flex-flow: column;
    overflow: hidden;
  }

  .viewprofile {
    position: fixed;
    z-index: 150;
    background:white;
    width: 400px;
    height: 100vh;
    top: 2px;
    right: 0;
    align-items: center;
    display: flex;
    flex-flow: column;
    overflow: hidden;

    .heading {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      width: 100%;
      margin: 5px;

      ion-icon {
        color: white;
        position: relative;
        right: 20px;
        top: 2.2vh;
        font-size: 1em;
        background: rgb(0, 0, 0);
        border-radius: 50%;
      }

      p {
        letter-spacing: 1px;
        margin: 5px;
        position: relative;
        left: 2vw;
        display: flex;
        flex-flow: row;
        justify-content: baseline;
        font-size: 1em;
      }
    }

    .profile_details {
      width: 90%;
      margin: 5px;
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      .profile_image {
        width: 120px;
        height: 120px;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .user_details {
        width: 50%;
        h1 {
          font-size: 16px;
          font-size: bolder;
        }
        p {
          font-size: 12px;
        }
      }

      .edit_icon {
        display: flex;
        flex-flow: column;
        align-self: flex-end;
        ion-icon {
          margin-bottom: 15px;
        }
      }
    }

    .inputs{
      width: 85% !important;
      margin: 10px;
      ion-input{
        width: 100%;
        border-bottom: 1px solid rgb(160, 160, 160);
      }

      .button{
        width: 100%;
      }
      #done{
        background: rgb(11, 66, 0);
        width: 45%;
        margin: 5px;
      }

      #cancel{
        background: rgb(119, 0, 0);
        width: 45%;
        margin: 5px;
      }

    }

    .line {
      width: 95%;
      height: 1.5px;
      background: rgb(177, 177, 177);
    }

    .pending_orders {
      width: 97%;
      margin: 0 auto;
      .pending_button {
        margin-top: 10px !important;
        height: 50px;
        border-bottom: 1px solid rgb(177, 177, 177);
        margin: 5px;
        span {
          display: flex;
          flex-flow: row;
          justify-content: space-between;
        }
      }
    }

    .orders {
      width: 100% !important;
      display: flex;
      flex-flow: column;
      //line-height: 10px;
      overflow-y: auto;
      height: 50vh;
      border: 1px solid black;
      .card {
        display: flex;
        flex-flow: row;
        width: 95%;
        height: fit-content;
        align-items: flex-start !important;
        border: 1px solid grey;
        padding: 5px;
        margin: 5px;
        .img {
          width: 100px;
          height: 110px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .details {
        margin: 5px;
        p {
          margin-top: -2px;
          font-size: 13px;
          color: grey;
          span {
            font-weight: bold;
          }
        }
        .code {
          color: rgb(58, 58, 58);
          font-size: 15px;
          font-weight: bold;
        }
      }
    }

    .order_history {
      width: 97%;
      margin: 0 auto;
    }

    .history_button {
      height: 50px;
      border-bottom: 1px solid rgb(177, 177, 177);
      margin: 5px;
      span {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
      }
    }

    .orders {
      width: 100% !important;
      display: flex;
      flex-flow: column;
      //line-height: 10px;
      overflow-y: auto;
      height: 50vh;
      border: 1px solid black;
      .card {
        display: flex;
        flex-flow: row;
        width: 95%;
        align-items: flex-start !important;
        border: 1px solid grey;
        padding: 5px;
        margin: 5px;
        .img {
          width: 100px;
          height: 110px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .details {
        margin: 5px;
        p {
          margin-top: -2px;
          font-size: 13px;
          color: grey;
          span {
            font-weight: bold;
          }
        }
        .code {
          color: rgb(58, 58, 58);
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }

  .closeprofile {
    position: absolute;
    z-index: 150;
    background: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 0vw;
    height: 85vh;
    top: 10%;
    bottom: 40%;
    right: 0;
    align-items: center;
    display: flex;
    flex-flow: column;
    overflow: hidden;
  }


}

ion-footer {
  text-align: center;
  .footer {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 100vw;
    background: rgb(0, 0, 32);
    color: white;

    .heading {
      margin: 5px;
      width: 250px;
      height: 200px;
    }

    .app_store {
      width: 10vw;
      height: 5vw;
    }

    .contact_details {
      font-size: 13px;
      text-align: left;
      p {
        font-size: 13px;
      }
      h1 {
        font-size: 20px;
      }
    }

    .info {
      font-size: 13px;
      text-align: left;
      display: flex;
      flex-flow: column;
      ion-button {
        font-size: 13px;
        color: white;

        padding-left: 0 !important;
        span {
          text-align: left;
          width: 100%;
          left: 0px !important;
          margin-left: -15%;
        }
      }

      h1 {
        font-size: 20px;
      }
    }

    .connect {
      display: flex;
      flex-flow: column;
      ion-button {
        overflow: hidden;
      }
      h1 {
        font-size: 20px;
      }
    }
  }

  ion-toolbar {
    text-align: center;
    background: rgb(173, 46, 0);
    color: white;
  }
}


