<ion-header class="ion-no-border" id="web">
  <ion-toolbar>
    <img src="../../assets/Group 235.png" alt="">

    <ion-buttons slot="end">

      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">

      <ion-button class="notification">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
        <span class="badge"></span>
      </ion-button>

      <ion-button class="notification">
        <ion-icon slot="icon-only" name="basket"></ion-icon>
        <span class="badge"></span>
      </ion-button>
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="ribbon" color="transparent">

<ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="heading">
      <h1>PAYMENT</h1>
    </div>
    <div class="details-container">
      <div class="title">
        <h4>Your Orders</h4>
        <div class="line"></div>
      </div>

      <div class="items">
        <table>
          <tr>
            <td>name</td>
            <td>1</td>
            <td>R 456.00</td>
          </tr>
          <tr>
            <td>name</td>
            <td>1</td>
            <td>R 456.00</td>
          </tr>

          <tr>
            <td>name</td>
            <td>1</td>
            <td>R 456.00</td>
          </tr>

          <tr>
            <td>name</td>
            <td>1</td>
            <td>R 456.00</td>
          </tr>

          <tr>
            <td>name</td>
            <td>1</td>
            <td>R 456.00</td>
          </tr>

        </table>
      </div>
      <div class="delivery-container">
        <p>How do you want your order?</p>
        <div class="order_type">
          <ion-button color="transparent" id="delivery" (click)="switchView('d')"
            [ngClass]="{'delivery':buttonActive, 'delivery-inactive': !buttonActive}">
            Delivery
          </ion-button>
          <ion-button color="transparent" id="collection" (click)="switchView('c')"
            [ngClass]="{'collection': !buttonActive, 'collection-inactive': buttonActive}">
            Collection
          </ion-button>
        </div>
      </div>
      <div class="total">
        <div style="font-weight: bold;">Total Amount:</div>
        <div>R400.00</div>
      </div>

      <div class="reference">
        <p> Your reference for this transaction is <b>PITSENG 23285</b>, please use it to deposit the amount due</p>
      </div>

      <div class="banking_details">
        <p>Deposit Amount to:</p>
        <p><b>Pitseng Arts and Crafts</b> <br>
          Bank Name: Capitec Back <br>
          Account Number: 173525554<br>
          Branch Name:  Soweto<br>
          Branch Code: 47100 </p>
      </div>
    </div>
    <div class="buttons">
      <ion-button color="transparent">
        DONE
      </ion-button>
    </div>

  </div>

  <ion-footer id="webview">
    <div class="footer">
      <div class="heading">
        <img src="../../assets/Group 235.png" alt="">
      </div>

      <div class="contact_details">
        <h1>FIND US</h1>
        <p>
          <ion-icon slot="start" name="call"></ion-icon> +27 71 567 3284
        </p>
        <p>
          <ion-icon slot="start" name="mail"></ion-icon> pitsengartsandcrafts.co.za
        </p>

        <p class="address">
          <ion-icon slot="start" name="location"></ion-icon> Soweto Empowerment Zone <br>
          Diepkloof, Chris Hani Road <br>
          SOWETO<br>
          1862
        </p>

      </div>

      <div class="info">
        <h1>QUICK LINKS</h1>
        <ion-button color="transparent">
          <span>FAQs</span>
        </ion-button>
        <ion-button color="transparent">
          <span>Terms and Privacy Policy</span>
        </ion-button>
        <ion-button color="transparent">
          <span>Disclaimer</span>
        </ion-button>
      </div>

      <div class="connect">
        <h1>CONNECT</h1>
        <ion-button color="transparent">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Facebook
        </ion-button>
        <ion-button color="transparent">
          <ion-icon slot="start" name="logo-instagram"></ion-icon>
          Instagram
        </ion-button>

        <ion-button color="transparent">
          <ion-icon slot="start" name="logo-twitter"></ion-icon>
          Twitter
        </ion-button>
      </div>

      <div class="app_store">
        <img src="../../assets/android.png" alt="App Store">
      </div>

    </div>
    <ion-toolbar color="transparent">
      <ion-title>&copy; Pitseng Arts & Crafts 2020</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
<!-- <div class="text">
      <div class="reference">
        <p>Your reference for this transaction is 304vl4he49. Please use it to deposit the amount due.</p>
      </div>

      <div class="depositto">
        <p><b>Deposit amount to </b><br>
          Account Holder Name: Pitseng Arts and Crafts <br>
          Account Number: 1234567890<br>
          Branch Name: Soweto <br>
          Branch Number: 47100
        </p>
      </div>

      <div class="note">
        <p>Please Note, Delivery to your door is R100 and to your nearest post office is R90</p>
      </div>
    </div> -->
<!-- <div class="btn">
  <div class="deliver">
    <ion-button color="transparent" (click)="switchView('d')"
      [ngClass]="{'delivery':buttonActive, 'delivery-inactive': !buttonActive}">
      DELIVERY
    </ion-button>
  </div>
  <div class="pickup">
    <ion-button color="transparent" (click)="switchView('c')"
      [ngClass]="{'collection': !buttonActive, 'collection-inactive': buttonActive}">
      COLLECTION
    </ion-button>
  </div>
</div> -->