
  <!-- <ion-toolbar>
    <ion-title>Payment</ion-title>
  </ion-toolbar> -->


<ion-content>
  <div class="container">
    <div class="heading">
      <h1>PAYMENT</h1>
    </div>
    <div class="details-container">
      <div class="title">
        <h2 >Your Orders</h2>
      </div>

      <div class="items">
        <table >
          <tr >
            <td>name</td>
            <td>quantity</td>
            <td>R 456.00</td>
          </tr>
          <tr >
            <td>name</td>
            <td>quantity</td>
            <td>R 456.00</td>
          </tr>
        
          <tr >
            <td>name</td>
            <td>quantity</td>
            <td>R 456.00</td>
          </tr>
        
          <tr >
            <td>name</td>
            <td>quantity</td>
            <td>R 456.00</td>
          </tr>
        

          <tr >
            <td>name</td>
            <td>quantity</td>
            <td>R 456.00</td>
          </tr>
        
          <tr >
            <td>name</td>
            <td>quantity</td>
            <td>R 456.00</td>
          </tr>
        
          <tr >
            <td>name</td>
            <td>quantity</td>
            <td>R 456.00</td>
          </tr>
        
          <tr >
            <td>name</td>
            <td>quantity</td>
            <td>R 456.00</td>
          </tr>
        
          <tr >
            <td>name</td>
            <td>quantity</td>
            <td>R 456.00</td>
          </tr>
        
          <tr >
            <td>name</td>
            <td>quantity</td>
            <td>R 456.00</td>
          </tr>
        </table>

      </div>
      <div class="delivery-container" >
        <p>How do you want your order?</p>
 <ion-segment value="favorite">
        <ion-segment-button value="call">
          <ion-label>Delivery</ion-label>
        </ion-segment-button>
        <ion-segment-button value="favorite">
          <ion-label>collection</ion-label>
        </ion-segment-button>
      </ion-segment>
      </div>
     
      <div class="total" >
        <div >
          <ion-label class="total-title" >Total Amount:</ion-label>
        </div>
        <div>
          <!-- <ion-title  >R 2394.00</ion-title> -->
        </div>
      </div>
    </div>
    <div class="buttons">
      <ion-button  color="primary">
        DONE
      </ion-button>
    </div>

  </div>
</ion-content> 
  <!-- <div class="text">
      <div class="reference">
        <p>Your reference for this transaction is 304vl4he49. Please use it to deposit the amount due.</p>
      </div>

      <div class="depositto">
        <p><b>Deposit amount to </b><br>
          Account Holder Name: Pitseng Arts and Crafts <br>
          Account Number: 1234567890<br>
          Branch Name: Soweto <br>
          Branch Number: 47100
        </p>
      </div>

      <div class="note">
        <p>Please Note, Delivery to your door is R100 and to your nearest post office is R90</p>
      </div>
    </div> -->
<!-- <div class="btn">
  <div class="deliver">
    <ion-button color="transparent" (click)="switchView('d')"
      [ngClass]="{'delivery':buttonActive, 'delivery-inactive': !buttonActive}">
      DELIVERY
    </ion-button>
  </div>
  <div class="pickup">
    <ion-button color="transparent" (click)="switchView('c')"
      [ngClass]="{'collection': !buttonActive, 'collection-inactive': buttonActive}">
      COLLECTION
    </ion-button>
  </div>
</div> -->