<ion-header id="web">
  <ion-toolbar>
    <div class="navigation-bar-upper-section">
      <div class="logo" (click)="gotoHome()">
        <img src="../../../assets/Group 235.png" alt="">
      </div>

    </div>
  </ion-toolbar>
  <div class="toolbar" color="primary">
    <div class="navbar">
      
      <ion-button fill="clear" style="width: 55px;"  color="light" (click)="gotoHome()">Home</ion-button>  <ion-button fill="clear" disabled style="width: 200px;"  color="light">/ Terms and Conditions</ion-button>
    </div>
  </div>
</ion-header>

<div class="top-nav">
  <div class="nav-grid">
    <div (click)="gotoHome()">
      <ion-icon name="home"></ion-icon>
    </div>
    <!-- <div>{{productName}}</div> -->
    <!-- <div></div>
    <ion-button fill="clear" class="notification" (click)="visitWish()">
      <ion-icon slot="icon-only" name="heart"></ion-icon>
      <span class="badge"></span>
    </ion-button>

    <ion-button fill="clear" class="notification" (click)="visitCart()">
      <ion-icon slot="icon-only" name="basket"></ion-icon>
      <span class="badge"></span>
    </ion-button> -->

    <div (click)="showMenu()">
      <ion-icon name="{{menuBtn}}"></ion-icon>
    </div>

  </div>
  <div id="options">
    <div class="menu-item" *ngIf="menuOpen == true">
      <div routerLink="/home">HOME</div>
      <div (click)="visitProfile()">PROFILE</div>
      <div (click)="createFaqs()">FAQS</div>
      <div (click)="openAboutUS()">ABOUT</div>
    </div>
  </div>
</div>

<div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">

  <div class="loader">
    <img src="../../assets/pottery-clipart-clay-13.gif" alt="">
    <svg width="200" height="200" viewBox="0 0 100 100">
      <polyline class="line-cornered stroke-still" points="0,0 100,0 100,100" stroke-width="10" fill="none"></polyline>
      <polyline class="line-cornered stroke-still" points="0,0 0,100 100,100" stroke-width="10" fill="none"></polyline>
      <polyline class="line-cornered stroke-animation" points="0,0 100,0 100,100" stroke-width="10" fill="none">
      </polyline>
      <polyline class="line-cornered stroke-animation" points="0,0 0,100 100,100" stroke-width="10" fill="none">
      </polyline>
    </svg>
  </div>
</div>

<ion-content>
  <div class="container">
    <h3>Welcome to Pitseng Art's </h3>
    These terms and conditions outline the rules and regulations for the use of Pitseng Art's mobile application


    <p>
      Pitseng Art's is located at: <br>
      <span style="font-style: italic; width: 200px;">
        Soweto Empowerment Zone,<br> Diepkloof, 1862 <br>
        Gauteng , South Africa
      </span>
    </p>

    By accessing this website we assume you accept these terms and conditions in full. Do not continue to use Pitseng Art's website if you do not accept all of the terms and conditions stated on this page. <br> <br>

    The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any or
    all Agreements: "Client", "You" and "Your" refers to you, the person accessing this website and accepting the
    Company's terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party",
    "Parties", or "Us", refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to
    the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the
    Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the
    express purpose of meeting the Client's needs in respect of provision of the Company's stated services/products, in
    accordance with and subject to, prevailing law of South Africa. Any use of the above terminology or other words in
    the singular, plural, capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring
    to same. <br>

    <h3>Cookies</h3>
    We employ the use of cookies. By using Pitseng Art's website you consent to the use of cookies in accordance with Pitseng Art's privacy policy. <br> 
    <h3>License</h3>
    Unless otherwise stated, Pitseng Art's and/or it's licensors own the intellectual property rights for all material
    on
    Pitseng Art's. All intellectual property rights are reserved. You may view and/or print pages from
    https://pitsengarts.co.za for your own personal use subject to restrictions set in these terms and
    conditions.<br><br>

    You must not:<br>

    <ul style="list-style-type: decimal;">
      <li>Republish material from https://pitsengarts.co.za</li>
      <li>Sell, rent or sub-license material from https://pitsengarts.co.za</li>
      <li>Reproduce, duplicate or copy material from https://pitsengarts.co.za</li>
      <li>Redistribute content from Pitseng Art's (unless content is specifically made for redistribution)</li>
    </ul>

Most of the modern day interactive web sites use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate / advertising partners may also use cookies.

    <h3>Hyperlinking to our Content</h3>
    <ul style="list-style-type: decimal;">
      <li>The following organizations may link to our Web site without prior written approval:
        <ul style="list-style-type: decimal;">
          <li>Government agencies;</li>
          <li> Search engines;</li>
          <li> News organizations;</li>
          <li> Online directory distributors when they list us in the directory may link to our Web site in the same
            manner
            as they
            hyperlink to the Web sites of other listed businesses; and</li>
          <li> Systemwide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and
            charity
            fundraising groups which may not hyperlink to our Web site.
          </li>
        </ul>
      </li>

      <li> These organizations may link to our home page, to publications or to other Web site information so long as
        the
        link:
        <ul style="list-style-type: lower-alpha;">
          <li>is not in any way misleading; </li>
          <li>does not falsely imply sponsorship, endorsement or approval of the linking
            party and its products or services; and</li>
          <li>fits within the context of the linking party's site.</li>
        </ul>
      </li>

      <li> We may consider and approve in our sole discretion other link requests from the following types of
        organizations:
        <ul style="list-style-type: decimal;">
          <li> commonly-known consumer and/or business information sources such as Chambers of Commerce, American
            Automobile
            Association, AARP and Consumers Union;
            dot.com community sites;</li>
          <li> associations or other groups representing charities, including charity giving sites,</li>
          <li> online directory distributors;</li>
          <li>internet portals;</li>
          <li>accounting, law and consulting firms whose primary clients are businesses; and</li>
          <li> educational institutions and trade associations.</li>
        </ul>
      </li>
    </ul>

    We will approve link requests from these organizations if we determine that:
    <ul style="list-style-type: lower-alpha;">
      <li>the link would not reflect
        unfavorably on us or our accredited businesses (for example, trade associations or other organizations
        representing
        inherently suspect types of business, such as work-at-home opportunities, shall not be allowed to link); </li>
      <li>the
        organization does not have an unsatisfactory record with us; </li>
      <li>the benefit to us from the visibility associated
        with the hyperlink outweighs the absence of Pitseng Art's; and</li>
      <li>where the link is in the context of general
        resource information or is otherwise consistent with editorial content in a newsletter or similar product
        furthering
        the mission of the organization. </li>
    </ul>

    These organizations may link to our home page, to publications or to other Web site information so long as the
    link:
    <ul style="list-style-type: lower-alpha;">
      <li> is not in any way misleading;</li>
      <li>does not falsely imply sponsorship, endorsement or approval of the linking
        party and it products or services, and</li>
      <li> fits within the context of the linking party's site.</li>
    </ul>

    If you are among the organizations listed in paragraph 2 above and are interested in linking to our website, you
    must notify us by sending an e-mail to admin@pitsengarts.co.za. Please include your name, your organization
    name, contact information (such as a phone number and/or e-mail address) as well as the URL of your site, a list
    of
    any URLs from which you intend to link to our Web site, and a list of the URL(s) on our site to which you would
    like
    to link. Allow 2-3 weeks for a response. <br><br>

    Approved organizations may hyperlink to our Web site as follows:
    <ul style="list-style-type: decimal;">
      <li>By use of our corporate name; or</li>
      <li> By use of the uniform resource locator (Web address) being linked to; or</li>
      <li>By use of any other description of our Web site or material being linked to that makes sense within the
        context</li>
    </ul>
    No use of Pitseng Art's's logo or other artwork will be allowed for linking absent a trademark license
    agreement.<br>

    <h3>Reservation of Rights</h3>
    We reserve the right at any time and in its sole discretion to request that you remove all links or any particular
    link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also reserve
    the right to amend these terms and conditions and its linking policy at any time. By continuing to link to our Web
    site, you agree to be bound to and abide by these linking terms and conditions.
 
   <h3>Iframes</h3> 
   Without prior approval and express written permission, you may not create frames around our Web pages or use other techniques that alter in any way the visual presentation or appearance of our Web site.
  </div>
  <ion-footer id="webview">
    <div class="footer">
      <div class="heading" routerLink="/home">
        <img src="../../assets/Group 235.png" alt="">
      </div>

      <div class="contact_details">
        <h1>FIND US</h1>
        <p>
          <ion-icon slot="start" name="call"></ion-icon> +27 71 567 3284
        </p>
        <p>
          <ion-icon slot="start" name="mail"></ion-icon> pitsengartsandcrafts.co.za
        </p>

        <p class="address">
          <ion-icon slot="start" name="location"></ion-icon> Soweto Empowerment Zone <br>
          Diepkloof, Chris Hani Road <br>
          SOWETO<br>
          1862
        </p>

      </div>

      <div class="info">
        <h1>QUICK LINKS</h1>
        <ion-button color="transparent" (click)="createFaqs()">
          <span>FAQs</span>
        </ion-button>
        <ion-button color="transparent" (click)="gotoTerms()">
          <span>Terms and Privacy Policy</span>
        </ion-button>
        <ion-button color="transparent" (click)="gotoDisclaimer()">
          <span>Disclaimer</span>
        </ion-button>
        <ion-button (click)="openAboutUS()" color="transparent">
          <span>About Us</span>
        </ion-button>
      </div>

      <div class="connect">
        <h1>CONNECT</h1>
        <ion-button color="transparent">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Facebook
        </ion-button>
        <ion-button color="transparent">
          <ion-icon slot="start" name="logo-instagram"></ion-icon>
          Instagram
        </ion-button>

        <ion-button color="transparent">
          <ion-icon slot="start" name="logo-twitter"></ion-icon>
          Twitter
        </ion-button>
      </div>

      <div class="app_store">
        <img src="../../assets/android.png" alt="App Store">
      </div>

    </div>
    <ion-toolbar color="transparent">
      <ion-title>&copy; Pitseng Arts & Crafts 2020</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>