<ion-content>
  <div class="content-container">
  <div class="banner">
    <div class="dpHolder">
      <img src="../../assets/imgs/1511539.jpg" id="userDP" alt="">
    </div>
    <img src="../../assets/imgs/514275.jpg" id="userBanner" alt="">
  </div>
  <div class="userContainer">
    <div class="details">
      <h3>Elija Blake</h3>
      <p>eli@elijah.com</p>
      <br>
      <div class="divider"></div>
      <ion-button>
        <ion-icon name="create"></ion-icon> Edit Profile
      </ion-button>

      <div class="detail-field">
        <div>0813917127</div>
        <div>
          <ion-icon name="call"></ion-icon>
        </div>
      </div>
      <div class="detail-field">
        <div>0813917127</div>
        <div>
          <ion-icon name="call"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  </div>
</ion-content>
