<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">

      <ion-button class="notification" (click)="visitWish()">
        <ion-icon slot="icon-only" name="heart" ></ion-icon>
        <span class="badge"></span>
      </ion-button>

      <ion-button class="notification" (click)="visitCart()">
        <ion-icon slot="icon-only" name="basket"></ion-icon>
        <span class="badge"></span>
      </ion-button>
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <div class="title">
      <h2>Explore</h2>
    </div>

    <div class="nav">

      <div class="icon">
        <ion-button (click)="getProductsbyCategory('Pottery')" color="transparent">
           <ion-icon name="square"></ion-icon>
        </ion-button>
      </div>
      <div class="icon">
        <ion-button (click)="getProductsbyCategory('Vases')" color="transparent">
          <ion-icon name="square"></ion-icon>
        </ion-button>

      </div>
      <div class="icon">
        <ion-button (click)="getProductsbyCategory('Deco')" color="transparent">
          <ion-icon name="square"></ion-icon>
        </ion-button>

      </div>
      <div class="icon">
        <ion-button (click)="getProductsbyCategory('Lamps')" color="transparent">
          <ion-icon name="square"></ion-icon>
        </ion-button>

      </div>
    </div>

    <div class="info">
      <p>{{myProduct.length}} Products</p>
      <p class="best_selling">Best Selling <ion-icon name="chevron-down-outline"></ion-icon>
      </p>
    </div>

    <div class="cards">
   
      <div id="card" *ngFor="let p of myProduct" (click)="viewProduct(p)">

        <div class="image">
          <img src="{{p.data.image}}" alt="">
        </div>
        <div class="text">
          <p> {{p.data.name}} <br>
            <span>{{p.data.price | currency:"R"}}</span></p>
          <p class="starz">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </p>
        </div>
      </div>

  <!--     <div id="card">

        <div class="image">
          <img src="https://i.pinimg.com/564x/c3/da/f7/c3daf7acc13ec2dd2d82d9a968d56fa7.jpg" alt="">
        </div>
        <div class="text">
          <p> White Pendant Lamp <br>
            <span>R300.00</span></p>
          <p class="starz">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </p>
        </div>
      </div> -->

    <!--   <div id="card">

        <div class="image">
          <img src="https://i.pinimg.com/564x/d8/01/f9/d801f95ec37ebdd439ca3a9298197ef4.jpg" alt="">
        </div>
        <div class="text">
          <p> White Pendant Lamp <br>
            <span>R300.00</span></p>
          <p class="starz">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </p>
        </div>
      </div> -->

     <!--  <div id="card">

        <div class="image">
          <img src="https://i.pinimg.com/564x/c5/aa/fa/c5aafa1f88a3b17dcfd7cd42cc14dd71.jpg" alt="">
        </div>
        <div class="text">
          <p> White Pendant Lamp <br>
            <span>R300.00</span></p>
          <p class="starz">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </p>
        </div>
      </div> -->

    <!--   <div id="card">

        <div class="image">
          <img src="https://i.pinimg.com/564x/ed/c8/be/edc8be711eca77eb40aa31101ccf0028.jpg" alt="">
        </div>
        <div class="text">
          <p> White Pendant Lamp <br>
            <span>R300.00</span></p>
          <p class="starz">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </p>
        </div>
      </div> -->


    </div>

  </div>
</ion-content>