<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="secondary">

      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">

      <ion-button class="notification">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
        <span class="badge"></span>
      </ion-button>

      <ion-button class="notification">
        <ion-icon slot="icon-only" name="basket"></ion-icon>
        <span class="badge"></span>
      </ion-button>
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <div class="title">
      <h2>Explore</h2>
    </div>

    <div class="nav">

      <div class="icon">
        <ion-button class="active" color="transparent">
          <img src="../../assets/lamp.svg" alt="">
        </ion-button>
      </div>
      <div class="icon">
        <ion-button color="transparent">
          <img src="../../assets/Photo Frame.svg" alt="">
        </ion-button>

      </div>
      <div class="icon">
        <ion-button color="transparent">
          <img src="../../assets/vas.svg" alt="">
        </ion-button>

      </div>
      <div class="icon">
        <ion-button color="transparent">
          <img src="../../assets/Pottery.svg" alt="">
        </ion-button>

      </div>
    </div>

    <div class="info">
      <p>120 Products</p>
      <p class="best_selling">Best Selling <ion-icon name="chevron-down-outline"></ion-icon>
      </p>
    </div>

    <div class="cards">
   
      <div id="card">

        <div class="image">
          <img src="https://i.pinimg.com/564x/fe/0d/b5/fe0db54acfbd94d56dff811c71c3fd70.jpg" alt="">
        </div>
        <div class="text">
          <p> White Pendant Lamp <br>
            <span>R300.00</span></p>
          <p class="starz">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </p>
        </div>
      </div>

      <div id="card">

        <div class="image">
          <img src="https://i.pinimg.com/564x/c3/da/f7/c3daf7acc13ec2dd2d82d9a968d56fa7.jpg" alt="">
        </div>
        <div class="text">
          <p> White Pendant Lamp <br>
            <span>R300.00</span></p>
          <p class="starz">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </p>
        </div>
      </div>

      <div id="card">

        <div class="image">
          <img src="https://i.pinimg.com/564x/d8/01/f9/d801f95ec37ebdd439ca3a9298197ef4.jpg" alt="">
        </div>
        <div class="text">
          <p> White Pendant Lamp <br>
            <span>R300.00</span></p>
          <p class="starz">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </p>
        </div>
      </div>

      <div id="card">

        <div class="image">
          <img src="https://i.pinimg.com/564x/c5/aa/fa/c5aafa1f88a3b17dcfd7cd42cc14dd71.jpg" alt="">
        </div>
        <div class="text">
          <p> White Pendant Lamp <br>
            <span>R300.00</span></p>
          <p class="starz">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </p>
        </div>
      </div>

      <div id="card">

        <div class="image">
          <img src="https://i.pinimg.com/564x/ed/c8/be/edc8be711eca77eb40aa31101ccf0028.jpg" alt="">
        </div>
        <div class="text">
          <p> White Pendant Lamp <br>
            <span>R300.00</span></p>
          <p class="starz">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </p>
        </div>
      </div>


    </div>

  </div>
</ion-content>