<ion-header class="ion-no-border" id="web">
  <ion-toolbar>
    <img src="../../assets/Group 235.png" alt="">

    <ion-buttons slot="end">

      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">

      <ion-button class="notification">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
        <span class="badge"></span>
      </ion-button>

      <ion-button class="notification">
        <ion-icon slot="icon-only" name="basket"></ion-icon>
        <span class="badge"></span>
      </ion-button>
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="ribbon" color="transparent">

    <ion-buttons slot="secondary">
      <ion-button id="deco">
        <ion-icon slot="start" src="../../assets/PhotoFrame.svg"></ion-icon> Decorations
      </ion-button>

      <ion-button>
        <ion-icon slot="start" src="../../assets/pottery.svg"></ion-icon> Pottery
      </ion-button>

      <ion-button>
        <ion-icon slot="start" src="../../assets/pot.svg"></ion-icon> Vases
      </ion-button>

      <ion-button>
        <ion-icon slot="start" src="../../assets/lamp.svg"></ion-icon> Lamps
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-header class="ion-no-border" id="mobile">
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">

      <ion-button class="notification" (click)="visitWish()">
        <ion-icon slot="icon-only" name="heart" ></ion-icon>
        <span class="badge"></span>
      </ion-button>

      <ion-button class="notification" (click)="visitCart()">
        <ion-icon slot="icon-only" name="basket"></ion-icon>
        <span class="badge"></span>
      </ion-button>
      <ion-button color="secondary" (click)="visitProfile()">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <div class="title">
      <h2>Explore</h2>
    </div>

    <div class="nav">

      <div class="icon">
        <ion-button (click)="getProductsbyCategory('Pottery')" color="transparent">
           <ion-icon name="square"></ion-icon>
        </ion-button>
      </div>
      <div class="icon">
        <ion-button (click)="getProductsbyCategory('Vases')" color="transparent">
          <ion-icon name="square"></ion-icon>
        </ion-button>

      </div>
      <div class="icon">
        <ion-button (click)="getProductsbyCategory('Deco')" color="transparent">
          <ion-icon name="square"></ion-icon>
        </ion-button>

      </div>
      <div class="icon">
        <ion-button (click)="getProductsbyCategory('Lamps')" color="transparent">
          <ion-icon name="square"></ion-icon>
        </ion-button>

      </div>
    </div>

    <div class="info">
      <p>{{myProduct.length}} Products</p>
      <p class="best_selling">Best Selling <ion-icon name="chevron-down-outline"></ion-icon>
      </p>
    </div>

    <div class="cards">
   
      <div id="card" *ngFor="let p of myProduct" (click)="viewProduct(p)">

        <div class="image">
          <img src="{{p.data.image}}" alt="">
        </div>
        <div class="text">
          <p> {{p.data.name}} <br>
            <span>{{p.data.price | currency:"R"}}</span></p>
          <p class="starz">

            <!-- <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#FFD700"
        defaultColor="#D3D3D3" readonly="true" rating="{{avgRating}}" fontSize="18px"
        (ratingChanged)="getRatings()">
      </ionic4-star-rating> -->
      
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </p>
        </div>
      </div>

  <!--     <div id="card">

        <div class="image">
          <img src="https://i.pinimg.com/564x/94/b0/33/94b033bd6596d2919e7a2f4c45226efc.jpg" alt="">
        </div>
        <div class="text">
          <p> White Pendant Lamp <br>
            <span>R300.00</span></p>
          <p class="starz">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </p>
        </div>
      </div> -->

    <!--   <div id="card">

        <div class="image">
          <img src="https://i.pinimg.com/564x/d8/01/f9/d801f95ec37ebdd439ca3a9298197ef4.jpg" alt="">
        </div>
        <div class="text">
          <p> White Pendant Lamp <br>
            <span>R300.00</span></p>
          <p class="starz">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </p>
        </div>
      </div> -->

     <!--  <div id="card">

        <div class="image">
          <img src="https://i.pinimg.com/564x/c5/aa/fa/c5aafa1f88a3b17dcfd7cd42cc14dd71.jpg" alt="">
        </div>
        <div class="text">
          <p> White Pendant Lamp <br>
            <span>R300.00</span></p>
          <p class="starz">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </p>
        </div>
      </div> -->

    <!--   <div id="card">

        <div class="image">
          <img src="https://i.pinimg.com/564x/ed/c8/be/edc8be711eca77eb40aa31101ccf0028.jpg" alt="">
        </div>
        <div class="text">
          <p> White Pendant Lamp <br>
            <span>R300.00</span></p>
          <p class="starz">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </p>
        </div>
      </div> -->


    </div>

  </div>

  <ion-footer id="webview">
    <div class="footer">
      <div class="heading">
        <img src="../../assets/Group 235.png" alt="">
      </div>

      <div class="contact_details">
        <h1>FIND US</h1>
        <p>
          <ion-icon slot="start" name="call"></ion-icon> +27 71 567 3284
        </p>
        <p>
          <ion-icon slot="start" name="mail"></ion-icon> pitsengartsandcrafts.co.za
        </p>

        <p class="address">
          <ion-icon slot="start" name="location"></ion-icon> Soweto Empowerment Zone <br>
          Diepkloof, Chris Hani Road <br>
          SOWETO<br>
          1862
        </p>

      </div>

      <div class="info">
        <h1>QUICK LINKS</h1>
        <ion-button color="transparent">
          <span>FAQs</span>
        </ion-button>
        <ion-button color="transparent">
          <span>Terms and Privacy Policy</span>
        </ion-button>
        <ion-button color="transparent">
          <span>Disclaimer</span>
        </ion-button>
      </div>

      <div class="connect">
        <h1>CONNECT</h1>
        <ion-button color="transparent">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Facebook
        </ion-button>
        <ion-button color="transparent">
          <ion-icon slot="start" name="logo-instagram"></ion-icon>
          Instagram
        </ion-button>

        <ion-button color="transparent">
          <ion-icon slot="start" name="logo-twitter"></ion-icon>
          Twitter
        </ion-button>
      </div>

      <div class="app_store">
        <img src="../../assets/android.png" alt="App Store">
      </div>

    </div>
    <ion-toolbar color="transparent">
      <ion-title>&copy; Pitseng Arts & Crafts 2020</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>